@model JanrainTest1.Controllers.AuthInfo

<h1>Home/SecurePage</h1>

<h1>@Model.profile.name.formatted</h1>

<p>@Model.profile.email</p>
<p>@Model.profile.preferredUsername</p>


<img src="@Model.profile.photo"/>