@using JanrainTest1
@model string
@{
    ViewBag.Title = "title";
}
@section head
{
    <script type="text/javascript">
        (function () {
            if (typeof window.janrain !== 'object') window.janrain = {};
            if (typeof window.janrain.settings !== 'object') window.janrain.settings = {};

            janrain.settings.tokenUrl = '@Url.AbsoluteAction("ProcessLogin", "Account", Model)';

            function isReady() { janrain.ready = true; };
            if (document.addEventListener) {
                document.addEventListener("DOMContentLoaded", isReady, false);
            } else {
                window.attachEvent('onload', isReady);
            }

            var e = document.createElement('script');
            e.type = 'text/javascript';
            e.id = 'janrainAuthWidget';

            if (document.location.protocol === 'https:') {
                e.src = 'https://rpxnow.com/js/lib/mhtest1/engage.js';
            } else {
                e.src = 'http://widget-cdn.rpxnow.com/js/lib/mhtest1/engage.js';
            }

            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(e, s);
        })();
</script>
}

<h1>Home/Login</h1>

<div id="janrainEngageEmbed"></div>
